<launch>
    <arg name="model" default="dd_turtlebot.urdf"/>
    <param name="robot_description" textfile="$(find ros_sim)/urdf/$(arg model)" />


    <node pkg="ros_sim" type="turtlesim_node" name="turtle_node" output="screen"/>
    <node pkg="ros_sim" type="turtle_teleop_key" name="teleop" output="screen"/>
    <!-- <node name="robot_broad" pkg="ros_sim" type="turtle_robot_broadcaster.py" /> -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <!-- <node name="rviz" pkg="rviz" type="rviz"/> -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ros_sim)/launch/rviz.rviz" />

</launch>