<launch>
    <!-- Vehicle's initial pose -->
    <arg name="x"     default="0"/>
    <arg name="y"     default="0"/>
    <arg name="z"     default="0.2"/>
    <arg name="roll"  default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw"   default="0"/>
    <arg name="model" default="diff_robot.urdf"/>

    <param name="robot_description" textfile="$(find custom_pkg)/urdf/$(arg model)" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
            args="-urdf -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -model $(arg model) -param /robot_description"/>

    <param name="red_sphere_description" textfile="$(find custom_pkg)/urdf/large_red_sphere.urdf" />
    <param name="green_sphere_description" textfile="$(find custom_pkg)/urdf/large_green_sphere.urdf" />

    <node name="sphere_spawner1" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
            args="-urdf -x 1.5 -y 1.5 -z 0.3 -R 0 -P 0 -Y 0 -model red_sphere1.urdf -param /red_sphere_description"/>

    <node name="sphere_spawner2" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
            args="-urdf -x 4.5 -y -1.5 -z 0.3 -R 0 -P 0 -Y 0 -model red_sphere2.urdf -param /red_sphere_description"/>

    <node name="sphere_spawner3" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
            args="-urdf -x 3 -y 0 -z 0.3 -R 0 -P 0 -Y 0 -model green_sphere1.urdf -param /green_sphere_description"/>

    <node name="sphere_spawner4" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
            args="-urdf -x 4.5 -y 0 -z 0.3 -R 0 -P 0 -Y 0 -model green_sphere2.urdf -param /green_sphere_description"/>

</launch>